<nav class="navbar navbar-inverse navbar-center" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#"><strong>| DISFRUTA |</strong></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#shop"data-toggle="tooltip" data-placement="bottom" title="Compra!">PRODUCTOS<span class="sr-only">(current)</span></a></li>
        <li><a href="/#promociones"data-toggle="tooltip" data-placement="bottom" title="Conocelas!">PROMOCIONES</a></li>
        <li><a href="/#nosotros" data-toggle="tooltip" data-placement="bottom" title="Nosotros!">LA HUERTA</a></li>
        <li><a href="/#contacto"data-toggle="tooltip" data-placement="bottom" title="Comunicate!">CONTACTO</a></li>      
        </ul>
              <ul class="nav navbar-nav navbar-right">

        <% if ( ses.active ){ %>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= ses.nombre.toUpperCase() %>
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="logout">LOGOUT </a></li>
                  <% if (ses.tipo == 'admin'){ %>
                      <li><a href="adminpanel">VENTAS </a></li>
                      <li><a href="comentario">COMENTARIOS </a></li>
                  <% } %>
        </ul>
      </li>
                  

                  

        <% } else { %>

      
<li><a href="sesion" data-toggle="tooltip" data-placement="bottom" title="Ingresa!"><span class="glyphicon glyphicon-user"></span> INICIAR SESION</a></li>
        <% } %>     
      </ul>
    </div>
  </div>
</nav>
