* {
	margin:0;
	padding:0;
}
.main {
	width:100%;
	height: auto;
}
.slides {
	width:100%;
	height: auto;
}
.slidesjs-pagination{
	text-align: center;
}
.slidesjs-pagination li{
	margin: 10px 6px;
	height: auto;
}
.slidesjs-pagination li a{
	display: block;
	background: #cd9208;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	text-indent: -9999px;

}
.slidesjs-pagination li a:hover{
	background: #fff;
	border: 1px solid black;
}
