footer{
  width: 100%;
  background-image: url("../img/footer.jpg");
  background-size: cover;
  color: white;
}
.descripcion{text-align: left;}
.redes{padding: 5%;}
.redes img{
  width: 50px;
  height: 50px;
  margin:5px 10px;
}
#limpiar{clear: both;}

.navbar{
  width: auto;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background-color: #12121c;
  color: white;
}
